/*TEXT*/

.text-center{
    text-align: center;
}

.heading-small{
   font-size:1.25rem;
   color:white;

}

.heading-medium{
    font-size:1.50rem;
}

.heading-big{
    font-size: 1.75rem;
}

/*Color*/

.bg-dark-red{
    background:rgb(160, 29, 29);
}

.bg-light-red{
    background:red ;
}

/*Butons*/

.btn{
    font-size: 1.25rem;
    padding: 0.8rem 3rem;
    width: 100%;
    text-align:center;
    border-radius: 20px;
    margin:1.25rem;
    
}

.btn-primary:hover{
    border: 1px solid rgb(59, 59, 164);
   box-shadow: 0 0 10px 10px rgba(59, 59, 164,0.4);
}

.tarihcep{
    margin: 0 20px;
    font-size:20px;
    font-family: 'Segoe UI', sans-serif;
  text-shadow: 2px 2px 5px gray;
}

/*Container*/

.container{

    
    max-width:1100px;
    margin: 0 auto;
}


