*{
    position: relative;
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: #f5f7fa;
}

 h1{
    text-align:center;
    margin-top:50px;
    font-size: 35px;
     
}

.birincip {  
    margin:20px;
    text-align: center;
    font-size:25px;
}

h2{
    margin-left:20px;
    
}

.aa{
    text-decoration: none;
    color:black;
    cursor: pointer;
}

.kutu {
  position: relative; 
  border-radius: 10px;
  background-color: white;
  margin: 40px 50px;
  padding: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
  overflow: hidden;
}

.kutu p{
   margin-top:15px;
   text-align:left;
   font-size:17px;

}

.kutu:hover{
    box-shadow:2px 4px 10px rgba(0, 128, 255, 0.4);
    transform:scale(1.03)
}


.top {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(16, 1, 1);
  position: absolute;
  top: 17px;
  left: 12px;   
}


.geridön{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(205, 162, 162);
    margin-top:10px;
    margin-left:20px
}

a:hover{
    background-color: aqua;
    padding: 10px;

}

